* {
  font-family: Roboto;
  box-sizing: content-box;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
}
/*header styles*/
header {
  height: 3.5em;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-image {
  height: 45%;
  margin: 0 1em;
  opacity: 0.3;
}
#search-bar{
  margin-right: -1px;
  height: 100%;
  width: 60%;
  padding-left: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    text-align: inherit;
    width: 100%;
    flex-basis: .000000001px;
}
input {
  font-size: 15px;
  padding-left:4px;
  color:grey;
}
.search-form {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 50%;
}

.fa-search{
    padding:4px 6px 4px 6px;
    width:45px;
    color:#787878;
    background-color:transparent;
  }
#search-Button{
  width: 65px;
  height: 23px;
  margin-left: -50px;
}

/*main video style*/

main {
  margin-top: 56px;
  width: 100%;
  height: 100%;
}
section {
  position: absolute;
  width: 60%;
  padding: 24px 24px 0 24px;
  background-color: hsl(0, 0%, 98%);
  float: right;
  height: 2000px;
}
iframe{
  width: 840px;
  height:399.375px;
}
h1 {
  font-size: 23px;
  font-weight: 400;
}

input {
  width: 465px;
}
#main-info1 {
 
  border-bottom: 0.5px solid rgb(186, 186, 186);
}
 #main-info2 {
  
  border-bottom: 0.5px solid rgb(186, 186, 186);
} 
 .info-container {
  height: 41px;
} 
 .video-views {
  color: #606060;
  float: left;
  margin-top: 10px;
} 

 .video-date {
  padding-left: 4px;
  color: #606060;
  float: left;
  margin-top: 10px;
}
.video-rates {
  float: right;
} 
 .subscribe-button {
  font-size: 13px;
  color: #fff;
  background-color: #CC0000;
  float: right;
  width: 137px;
    height: 36px;
    border-radius: 2px;
} 
.subscribers {
  color: rgb(110, 109, 109);
  font-size: 1.2rem;
  line-height: 2;
}

.subscribe-button {
  background-color: #c00;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 2px;
  width: 105px;
  height: 36px;
  margin-top: -70px;
  outline: none;
}
.subscribe-button:active{
background-color: rgb(175, 0, 0)
}
.first-row {
  margin-bottom: 12px;
  padding-top: 16px;
}
.singers-logo {
  position: absolute;
  width: 65px;
  height: 50px;
}
.singers-name {
  cursor: pointer;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 500;
}
.subscribers {
  margin-left: 5px;
  color: #606060;
  font-size: 13px;
  margin-left: 60px;
} 
 .description {
  font-size: 15px;
  margin-left: 60px;
} 
 .logo {
  border-radius: 50%;
width:60px;
height:50px;
} 
 .description-text {
  padding: 12px 0;
  font-size: 14px;
}
.description-toggle {
  cursor: pointer;
  color: #606060;
  font-size: 12px;
} 

/*comments*/

#main-comment {
  margin: 24px 0 32px 0;
}
.comment-header {
  height: 32px;
}
.comments {
  margin-right: 35px;
  font-size:18px;
}

 
.sort-button {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
}
.bar-top {
  width: 20px;
  height: 2px;
  background-color: rgb(161, 159, 159);
  margin: 4px 0;
}
.bar-mid {
  width: 12px;
  height: 2px;
  background-color: rgb(161, 159, 159);
  margin: 4px 0;
}
.bar-bottom {
  width: 5px;
  height: 2px;
  background-color: rgb(161, 159, 159);
  margin: 4px 0;
}
.sort-text {
  cursor: pointer;
  font-size: 14px;
}
.comments-container {
  margin-top: 24px;
}
.user-logo {
  display: inline-block;
  height: 48px;
  width: 5%;
}
.user {
  border-radius: 50%;
}
.user-comments {
  padding-left: 10px;
}
.user-comment-input {
  vertical-align: top;
  border: 0;
  border-bottom: 0.5px solid rgb(186, 186, 186);
  outline: none;
  width: 92%;
  text-align: top;
  background-color: #fafafa;
  cursor: pointer;
}

/*the comments itself*/
.comments-block {
  margin: 20px 0;
}
.commenter-logo-container {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 5%;
}
.commenter-logo {
  cursor: pointer;
  border-radius: 50%;
}
.comment-wrapper {
  padding-left: 60px;
  display: inline-block;
}
.commenter-username {
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  display:flex;
  flex-direction: row;
}
.comment-date {
  margin-left: 5px;
  color: #606060;
  font-size: 13px;
}
.commenter-comment {
  font-size: 15px;
}
.comment-toolbar {
  margin: 5px 0;
  display:flex;
  flex-direction: row;
}
.thumbs-up {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.thumbs-down {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.score {
  color: #606060;
  padding-right: 25px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 10px;
}
.reply-button {
  cursor: pointer;
  color: #909090;
  margin-left: 20px;
  font-size: 12px;
}

.sub-comments {
  cursor: pointer;
  margin: 5px 0 0 56px;
  font-size: 14px;
  color: #065FD4;
  display:flex;
  flex-direction:row;
}
.fa-caret-down{
  cursor: pointer;
  margin-left: 4px;
  size: 20px;
  color:#065FD4;
}


/*aside*/

aside {
  position: absolute;
  right: 0;
  width: 35%;
  padding: 24px 24px 0;
  background-color: hsl(0, 0%, 98%);
  height: 2000px;
}
.upnext-button {
  vertical-align: center;
}
#autoplay-container {
  margin-bottom: 16px;
  border-bottom: 0.5px solid rgb(186, 186, 186);
}
.autoplay-button {
  float: right;
}
.autoplay-video {
  margin: 16px 0;
}
.metadata {
  display: inline-block;
  vertical-align: top;
  padding-right: 24px;
  width: 200px;
  cursor: pointer;
}
.autoplay-video-title {
  font-size: 14px;
  font-weight: 500;
}
.autoplay-video-author {
  color: #606060;
  font-size: 13px;
  padding-top: 4px;
}
.autoplay-video-views {
  color: #606060;
  font-size: 13px;
  padding-top: 4px;
}
.sidebar-video {
  margin-bottom: 10px;
}