html, body {
    background-color: whitesmoke;
}



.search_bar{
float:left;

}
#search_bar_length{
    padding-right:250px;
}

.left-side-links{
float:left;
}

.right-nav-links{
    float:right;
}
section{
  
float:left;
margin: 0 1.5%;
width: 63%;
}
aside{
    position: relative;
    float:right;
    margin: 0 1.5%;
    width: 30%;
    left: 100px;
   
    background-color: white;
}
footer{
    clear:both;
}