body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  iframe {
    border: 0px;
  }

  main {
    
    margin: 2% 3%;
 
  }

  
  form {
    display: flex;
    padding-top: 10px;
  }

  input[type="text"] {
    width: 15rem;
  }
  
  ul a i {
    font-size: 1.6rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: grey;
    color: white;
  }
  
  li:nth-child(n + 4) {
    float: right;
  }
  
  form {
    margin-left: 40px;
    height: 100%;
  }

  nav{
   
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10.5px 20px;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  #main-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
  }
 
  .main-video {
    position: relative;
  
    padding-top: 20px;
    min-width: 560px;
    min-height: 315px;
  }
  
  .video_section {
    padding: 20px 40px;
    width: 80%;
  }

  .title{
    font-size: 1.2rem;
  }

  #youtube_logo {
    font-size: 2rem;
  }

  .recommended{
    display: flex;
   

  }

  .details {
    margin: 0px;
    margin-left: 8px;
  }

  .video-section{
    float:left;
    margin: 58px 3% 2%; 
  }
  .side-videos{
      grid-area: sidebar;
      display: grid;
      justify-content: start;
      float:right;
      width: 30%;
    grid-column-gap: 5px;
  
  }
 .interaction_buttons_left{
  display: flex;
  float:left;
}

 .interaction_buttons_right{
  display: flex;
float:right;
 }

 #authors_text{
   font-size:12px;
 }

 