body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
  }

  header {
    width: 100%;
    height: auto;
}

  iframe {
    border: 0px;
  }

  main {
    
    margin: 2% 3%;
 
  }

  header {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.fa-bars {
    vertical-align: middle;
    cursor: pointer;
    align-content: center;
    margin-right: 20px;
    font-size: 2rem;
}

.nav-logo {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;

}

.nav-left {
    justify-content: flex-start;
    

}

input[type="text"] {
    margin-right: -7px;
    padding-left: 6px;
    width: 460px;
    height: 30px;
    border-style: none;
    background-color: transparent;
    font-size: 1.6rem;
}

input[type="text"]:focus {
  outline: none;
}

.nav_search_button{
    border-radius: 3px;
    border: 1px solid lightgray;
}

.search-button {
    height: 30px;
    border-style: none;
    width: 60px;
    background-color: lightgray;
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
}

.search-button:active {
  background-color: rgb(194, 194, 194);
  outline: none;
  color: rgb(0, 0, 0);
}

.nav-right {
    justify-content: flex-end;
}

.button {
    margin-right: 27px;
    cursor: pointer;
    color: gray;
    font-size: 1.7rem;
}

.logo-right {
    width: 38px;
    height: auto;
    border-radius: 100%;
    cursor: pointer;
}
  


  

  #main-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
  }
 
  .main-video {
    position: relative;
  
    padding-top: 20px;
    min-width: 560px;
    min-height: 315px;
  }
  
  .video_section {
    padding: 20px 40px;
    width: 80%;
  }

  .title{
    font-size: 1.2rem;
  }

  #youtube_logo {
    font-size: 2rem;
  }

  .recommended{
    display: flex;
   

  }

  .details {
    margin: 0px;
    margin-left: 8px;
  }

  .video-section{
    float:left;
    margin: 58px 3% 2%; 
  }
  .side-videos{
      grid-area: sidebar;
      display: grid;
      justify-content: start;
      float:right;
      width: 30%;
    grid-column-gap: 5px;
  
  }
 .interaction_buttons_left{
  display: flex;
  float:left;

}

 .interaction_buttons_right{
  display: flex;
  float:right;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  
 }

 #authors_text{
   font-size:12px;
 }

 #singers-logo {
   width: 50px;
   height: 50px;
   border-radius: 45px;
 }

 fas .fa-thumbs-up, .fa-thumbs-down, .fa-share, .fa-folder-plus, .fa-ellipsis-h {
  margin-left: 20px;
  cursor: pointer;
}

.fa-bars {
  vertical-align: middle;
  cursor: pointer;
  align-content: center;
  margin-right: 20px;
  font-size: 2rem;
}

